.backgroundChange{
    background-image: url("../img/warsztat.jpeg");
}

.backgroundChange1{
    background-image: url("../img/warsztat1.jpeg");
}

.backgroundChange2{
    background-image: url("../img/warsztat2.jpg");
}

.backgroundChange3{
    background-image: url("../img/warsztat3.jpeg");
}