.backgroundChange{
    background-image: url("../../src/img/warsztat.jpeg");
}

.backgroundChange1{
    background-image: url("../../src/img/warsztat1.jpeg");
}

.backgroundChange2{
    background-image: url("../../src/img/warsztat2.jpg");
}

.backgroundChange3{
    background-image: url("../../src/img/warsztat3.jpeg");
}
